/* === Custom Confirm Alert Styles === */

.custom-confirm-body-element {
  overflow: hidden;
}

/* Background blur (optional subtle effect) */
.custom-confirm-blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

/* Overlay background behind the popup */
.custom-confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: custom-confirm-fadeIn 0.4s 0.1s forwards;
}

/* Popup container */
.custom-confirm-body {
  /* font-family: Arial, Helvetica, sans-serif; */
  width: 400px;
  padding: 30px;
  text-align: left;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.2);
  color: #333;
  opacity: 0;
  transform: scale(0.9);
  animation: custom-confirm-scaleIn 0.3s 0.2s forwards;
}

/* Optional decorative SVG */
.custom-confirm-svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* Title and message */
.custom-confirm-body > h1 {
  margin-top: 0;

  font-size: 20px;
  font-weight: bold;
}

.custom-confirm-body > h3 {
  margin: 5px 0 0;
  font-size: 15px;
  color: #555;
}

/* Button group */
.custom-confirm-button-group {
  display: flex;
  /* justify-content: flex-end; */
  margin-top: 25px;
  gap: 10px;
}

/* Buttons */
.custom-confirm-button-group > button {
  outline: none;
  border: none;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
   width: 50%;
   font-weight: 600;
}

.custom-confirm-button-group > button:first-child {
  background: white;
  color: #1A1C1E;
  border: 1px solid rgba(26, 28, 30, 0.2);
  transition: all 0.2s ease-in-out;
}

.custom-confirm-button-group > button:first-child:hover {
  box-shadow: 0 2px 6px rgba(26, 28, 30, 0.15); /* small soft shadow */

}

.custom-confirm-button-group > button:last-child {
  background: #2D3748;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.custom-confirm-button-group > button:last-child:hover {
  background: #1A202C; 
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25)

}


/* === Animations === */
@keyframes custom-confirm-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes custom-confirm-scaleIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
